{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "tabWidth": 2,
        "semi": false,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "no-console": ["error", { "allow": ["warn", "error"] }]
      }
    ]
  }
}