.App {
	height: 100vh;
	width: 100vw;
	display: grid;
}
.cover-all{
	height: 100vh;
	width: 100vw;
	display: grid;
}
.clickable {
	cursor: pointer;
}
.center {
	align-self: center;
	justify-self: center;
	font-size: 3vh;
	text-align: center;
}
.mail {
	display: block;
}