.cover-all {
  height: 80vh;
  width: 100vw;
  display: grid;
}
.clickable {
  cursor: pointer;
}
.center {
  align-self: center;
  justify-self: center;
  font-size: 3vh;
  text-align: center;
}
.mail {
  display: block;
}
.loader {
  width: 100%;
  height: auto;
}
.olivia {
  max-height: 50vh;
}
